html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f6f8f9;
}

#__layout,
#__nuxt {
  width: 100%;
  height: 100%;
}
.page {
  width: 100%;
  height: 100%;
}
.is-full {
  width: 100%;
}
.is-fullheight {
  height: 100%;
}
.loading-container {
  position: relative;
}
.form {
  min-width: 470px;
}
.is-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.sidebar-content {
  width: 500px !important;
}
.admin-post-image {
  height: 100%;
  width: 100%;
  max-width: 180px;
  max-height: 140px;
  object-fit: cover;
}
.navbar {
  background-color: #f6f8f9;
}
.navbar-brand,
.navbar-item img {
  max-height: 3rem !important;
}
