html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f6f8f9;
}

#__layout,
#__nuxt {
  width: 100%;
  height: 100%;
}
nav {
  min-height: 90px !important;
  max-height: 90px !important;
}
.page {
  width: 100% !important;
  height: 100% !important;
}
.is-full {
  width: 100% !important;
}
.is-fullheight {
  height: 100% !important;
}
.loading-container {
  position: relative;
  min-height: 350px;
}
.form {
  min-width: 470px;
}
.is-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.nuxt-link-exact-active {
  color: #6e6e6e;
}
.nuxt-link-exact-active > div {
  text-decoration: underline;
}
.sidebar-content {
  width: 500px !important;
}
.post-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.admin-post-image {
  height: 100%;
  width: 100%;
  max-width: 180px;
  max-height: 140px;
  object-fit: cover;
}
.navbar {
  background-color: #f6f8f9;
}
.navbar-brand,
.navbar-item img {
  max-height: 3rem !important;
}
